@import "fonts/fa/font-awesome"
@import "fonts/myriad-pro/myriad-pro"
@import "_sticky-footer"

$bg_color: #f7f7f9
$base: #898989
$light_black: #32363c
$grey: #5e636c
$light_grey: #a9b0b7
$dark_grey: #ededed
$black_blue: #313844
$border_color: #e7e9ef
$navy_blue: #759399
$red: #b62840

//select2 fix
.select2-container--default .select2-selection--single
	outline: none!important
.select2-dropdown
	.select2-search--dropdown 
		display: none
	.select2-results__option
		padding: 3px 6px
	.select2-results__option--highlighted[aria-selected]
		// background-color: $red
		// color: #fff
.select2-container--disabled
	.select2-selection__rendered
		color: $grey !important


//Checkbo custom
.cb-checkbox, .cb-radio
	padding-top: 4px
	padding-bottom: 4px
.cb-checkbox.checked .cb-inner
	border-color: $red !important
	background-color: transparent !important
.cb-checkbox i:before, .cb-checkbox i:after
	background: $red
.cb-checkbox:hover .cb-inner, .cb-radio:hover .cb-inner
    border-color: $red
.cb-radio.checked i
	background: $red

//Rangeslider
.rangeslider
	height: 2px
	margin-top: 17px
	.rangeslider__fill
		height: 2px
		background: $red
	.rangeslider__handle
		width: 16px
		height: 16px
		top: -7px
		box-shadow: none
		z-index: 10
		&:after
			content: none
.rangeslider__ruler
	img
		width: 100%
		margin-top: -3px
.rangeslider_min, .rangeslider_max
	font-size: 10px
	color: #cdcdcd
	position: absolute
	top: 3px
.rangeslider_min
	left: 0
.rangeslider_max
	right: 0

//Tablesort
th.sort-header
	cursor:pointer
table th.sort-header:after
	opacity: 0.2
	content: ''
	float: right
	margin-top: 7px
	border-width: 0 4px 4px
	border-style: solid
	border-color: $base transparent
table th.sort-header.sort-up:after
	border-width: 0 4px 4px
	opacity: 1
table th.sort-header.sort-down:after
	opacity: 1
	border-width: 4px 4px 0

//Helpers
// input[type="range"]
// 	margin-top: 7px
.control-label
	text-align: left !important
	padding-top: 7px !important
.no-wrap
	white-space: nowrap
.btn
	padding: 5px 12px
	&:active, &:focus, &:active:focus
		outline: none
.btn-link
	color: $base
	&:hover
		text-decoration: none
		color: #fff
.btn-navy
	background: $navy_blue
	color: #fff
	&:hover
		color: #fff
		background: #668085
.btn-filter
	text-transform: uppercase
	line-height: 10px
	padding: 5px 10px
.btn-icons
	.fa
		margin-right: 5px
.btn-download
	background: transparent
	border: 1px solid $red
	color: $red
	&:hover, &:focus:hover
		background: $red
		color: #fff
	&:focus
		color: $red
		background: transparent
.flex
	display: flex
.white-box
	background: #fff
	border-radius: 3px
	padding: 35px
	border: 1px solid $border_color
	border-top: 0
.table-box
	display: table
	width: 100%
	.table-td
		display: table-cell
		vertical-align: top
		background: #fff
		&:last-child
			padding-left: 48px
			width: 345px
form
	margin-bottom: 0
	.form-group:last-child
		margin-bottom: 0



body
	background: $bg_color
	font-family:'MyriadPro-Light'
	color: $base
	h1, h2, h3, h4, h5, h6
		color: $base
		margin: 0
	.container
		margin: 0 auto
		width: 1210px !important
		max-width: 1210px

.header
	.top-header
		background: $black_blue
		font-family: 'MyriadPro-Regular'
		a:hover, a:focus
			text-decoration: none
		.logo
			margin-top: 12px
			color: $light_grey
			font-size: 30px
			display: block
			margin-right: 29px
			img
				vertical-align: top
				margin: 7px 7px 0 0
		.header-menu
			margin-bottom: 0
			li
				a
					padding: 23px 42px 20px 0
					color: $light_grey
					display: block
					font-size: 17px
					&:hover
						color: #fff
				&.active
					a
						color: #fff
		.info-links
			display: inline-block
			border-right: 1px solid #000
			margin-right: 17px
			// padding: 3px 0
			height: 25px
			margin-top: 19px
			.btn-group
				>a
					display: inline-block
					text-align: center
					vertical-align: middle
					margin-right: 20px
					position: relative
					cursor: pointer
					.fa
						color: $grey
						font-size: 20px
						margin-top: 2px
					&.has-new:after
						content: ''
						position: absolute
						width: 8px
						height: 8px
						background: #94bb2c
						top: 5px
						right: 0
						border-radius: 50%
				&.open
					a
						box-shadow: none
			.user-box
				background: #202630
				width: 240px
				border-radius: 3px
				left: -93px
				top: 30px
				padding: 0
				margin: 0
				border: 0
				.divider
					padding: 0
					background: #1b2028
					margin: 0
				.buttons
					padding: 10px 15px
					.row>div:first-child
						border-right: 1px solid #1b2028
					a
						text-transform: uppercase
						color: $base
						font-size: 13px
						display: block
						&:hover
							color: #fff
				.comments-item
					padding: 10px 15px
					>a
						padding: 0
						background: transparent
						color: $base
					.media
						.media-object
							width: 40px
							height: 40px
							border-radius: 50%
						.time, .media-heading
							color: #7d8490
							font-family: 'MyriadPro-Regular'
							font-size: 15px
							line-height: 12px
						.comment-text
							font-size: 11px
							font-family: 'MyriadPro-Light'
							margin-top: 5px
					&:first-child
						border-radius: 3px  3px 0 0
					&:last-child
						border-radius: 0 0 3px  3px
					&:hover
						background: #012
				&:before
					border-bottom: 10px solid #202630
					border-right: 10px solid transparent
					border-left: 10px solid transparent
					content: ''
					position: absolute
					top: -10px
					right: 50%
				&.active
					display: block
		.mk
			width: 35px
			height: 35px
			background: $light_grey
			border-radius: 50%
			margin-top: 14px
			padding: 8px
			display: inline-block
			color: $light_black
	.sub-header
		font-family: 'MyriadPro-Light'
		background: #fff
		padding: 25px 0
		border-bottom: 1px solid $border_color
		.sub-title
			margin-right: 30px
			font-size: 26px
			font-family: 'MyriadPro-Semibold'
			border-right: 1px solid $border_color
			position: relative
			padding-right: 20px
			.arrow
				position: absolute
				border-left: 10px solid $border_color
				border-top: 10px solid transparent
				border-bottom: 10px solid transparent
				top: 9px
				right: -10px
				&:after
					content: ''
					position: absolute
					border-left: 10px solid #fff
					border-bottom: 10px solid transparent
					border-top: 10px solid transparent
					top: -10px
					right: 1px
		.sub-menu
			margin: 6px 0 0
			li
				a
					font-size: 17px
					color: $base
					display: block
					padding-right: 19px
		.search-block

			.form
				margin-bottom: 0
				// padding: 15px 0
				.input-group-addon
					background: transparent
					border: 0
				input
					border: 0
					box-shadow: none
					font-size: 17px
		.add-user-button
			// padding: 5px 12px
			font-size: 15px
			// margin-top: 15px
			.fa
				margin-right: 5px
				font-size: 20px

.main-page
	padding: 50px 0
	min-height: 1px
	.flex
		justify-content: space-between
		align-items: stretch
	.results
		width: 870px !important
		float: left
		.search-results
			height: 26px
			padding: 5px
			line-height: 16px
			margin: 0 20px 20px 0
			font-size: 25px
		.results-table
			table
				border: 1px solid $border_color
				&.table-striped>tbody>tr:nth-of-type(odd)
					background: #fcfcfc
				tr
					cursor: pointer
				th
					text-align: center
				th, td
					font-size: 14px
					border: 0
					border-right: 1px solid $border_color
		.pagination
			margin: 0
			a
				color: $base
	.filters
		width: 270px !important
		float: right
		h3
			margin-bottom: 20px
		form
			.legend
				font-family:'MyriadPro-Semibold'
				color: $red
				font-size: 15px
				border: 0
				margin-bottom: 20px
			.radio
				padding-top: 7px
				label
					padding-left: 10px
				input
					margin-left: -17px
			.checkbox
				padding-top: 7px
				label
					padding-left: 0
