.user-box
	.buttons
		a
			font-size: 11px !important
.filters
	.form-group
		.control-label
			padding-top: 5px
	.radio, .checkbox
		padding-top: 0 !important
		label
			font-size: 12px
			padding-top: 7px !important
		label+label
			padding-left: 20px !important
		input
			margin-top: 2px !important
			&:focus
				outline: none
	.rangeslider__ruler
		img
			margin-top: -20px

